@import "./flexbox";

/* MIT License
 *
 * Copyright (c) 2020 Example (https://github.com/3x)
 * Copyright (c) 2021 Arne Govaerts (https://github.com/argovaerts)
 * 
 * Permission is hereby granted, free of charge, to any person obtaining a copy
 * of this software and associated documentation files (the "Software"), to deal
 * in the Software without restriction, including without limitation the rights
 * to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
 * copies of the Software, and to permit persons to whom the Software is
 * furnished to do so, subject to the following conditions:
 * 
 * The above copyright notice and this permission notice shall be included in all
 * copies or substantial portions of the Software.
 * 
 * THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
 * IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
 * FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
 * AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
 * LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
 * OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
 * SOFTWARE.
 */

$nc-font-sans: Helvetica Neue, Helvetica, Arial, sans-serif !default;
$nc-font-mono: Consolas, monaco, 'Ubuntu Mono', 'Liberation Mono', 'Courier New', Courier, monospace !default;

$nc-tx-1: #000000 !default;
$nc-tx-2: #1A1A1A !default;
$nc-bg-1: #FFFFFF !default;
$nc-bg-2: #F5F5F5 !default;
$nc-bg-3: #E5E7EB !default;
$nc-lk-1: #0459b9 !default;
$nc-lk-2: #0366D6 !default;
$nc-lk-tx: #FFFFFF !default;
$nc-ac-1: #79FFE1 !default;
$nc-ac-tx: #0C4047 !default;

* {
	/* Reset margins and padding */
	margin: 0;
	padding: 0;
}

section {
	border-bottom: 2px solid $nc-bg-2;
}

address,
area,
article,
aside,
audio,
blockquote,
datalist,
details,
dl,
fieldset,
figure,
form,
input,
iframe,
img,
meter,
nav,
ol,
optgroup,
option,
output,
p,
pre,
progress,
ruby,
section,
table,
textarea,
ul,
video {
	/* Margins for most elements */
	margin-bottom: 1rem;
}

html,input,select,button {
	/* Set body font family and some finicky elements */
	font-family: $nc-font-sans;
}

body {
	/* Center body in page */
	margin: 0 auto;
	max-width: 750px;
	padding: 2rem;
	border-radius: 6px;
	overflow-x: hidden;
	word-break: break-word;
	overflow-wrap: break-word;
	background: $nc-bg-1;

	/* Main body text */
	color: $nc-tx-2;
	font-size: 1.03rem;
	line-height: 1.5;
}

::selection {
	/* Set background color for selected text */
	background: $nc-ac-1;
	color: $nc-ac-tx;
}

h1,h2,h3,h4,h5,h6 {
	line-height: 1;
	color: $nc-tx-1;
	padding-top: .875rem;
}

h1,
h2,
h3 {
	color: $nc-tx-1;
	padding-bottom: 2px;
	margin-bottom: 8px;
	border-bottom: 2px solid $nc-bg-2;
}

h4,
h5,
h6 {
	margin-bottom: .3rem;
}

h1 {
	font-size: 2.25rem;
}

h2 {
	font-size: 1.85rem;
}

h3 {
	font-size: 1.55rem;
}

h4 {
	font-size: 1.25rem;
}

h5 {
	font-size: 1rem;
}

h6 {
	font-size: .875rem;
}

a {
	color: $nc-lk-1;
}

a:hover {
	color: $nc-lk-2;
}

abbr:hover {
	/* Set the '?' cursor while hovering an abbreviation */
	cursor: help;
}

blockquote {
	padding: 1.5rem;
	background: $nc-bg-2;
	border-left: 5px solid $nc-bg-3;
}

abbr {
	cursor: help;
}

blockquote *:last-child {
	padding-bottom: 0;
	margin-bottom: 0;
}

header {
	background: $nc-bg-2;
	border-bottom: 2px solid $nc-bg-3;
	padding: 2rem 1.5rem;
	
	/* This sets the right and left margins to cancel out the body's margins. It's width is still the same, but the background stretches across the page's width. */

	margin: -2rem calc(0px - (50vw - 50%)) 2rem;

	/* Shorthand for:

	margin-top: -2rem;
	margin-bottom: 2rem;

	margin-left: calc(0px - (50vw - 50%));
	margin-right: calc(0px - (50vw - 50%)); */
	
	padding-left: calc(50vw - 50%);
	padding-right: calc(50vw - 50%);
}

header h1,
header h2,
header h3 {
	padding-bottom: 0;
	border-bottom: 0;
}

header > *:first-child {
	margin-top: 0;
	padding-top: 0;
}

header > *:last-child {
	margin-bottom: 0;
}

a button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
	font-size: 1rem;
	display: inline-block;
	padding: 6px 12px;
	text-align: center;
	text-decoration: none;
	white-space: nowrap;
	background: $nc-lk-1;
	color: $nc-lk-tx;
	border: 0;
	border-radius: 4px;
	box-sizing: border-box;
	cursor: pointer;
	color: $nc-lk-tx;
}

a button[disabled],
button[disabled],
input[type="submit"][disabled],
input[type="reset"][disabled],
input[type="button"][disabled] {
	cursor: default;
	opacity: .5;

	/* Set the [X] cursor while hovering a disabled link */
	cursor: not-allowed;
}

.button:focus,
.button:hover,
button:focus,
button:hover,
input[type="submit"]:focus,
input[type="submit"]:hover,
input[type="reset"]:focus,
input[type="reset"]:hover,
input[type="button"]:focus,
input[type="button"]:hover {
	background: $nc-lk-2;
}

code,
pre,
kbd,
samp {
	/* Set the font family for monospaced elements */
	font-family: $nc-font-mono;
}

code,
samp,
kbd,
pre {
	/* The main preformatted style. This is changed slightly across different cases. */
	background: $nc-bg-2;
	border: 2px solid $nc-bg-3;
	border-radius: 4px;
	padding: 3px 6px;
	font-size: 0.9rem;
}

kbd {
	/* Makes the kbd element look like a keyboard key */
	border-bottom: 3px solid $nc-bg-3;
}

pre {
	padding: 1rem 1.4rem;
	max-width: 100%;
	overflow: auto;
}

pre code {
	/* When <code> is in a <pre>, reset it's formatting to blend in */
	background: inherit;
	font-size: inherit;
	color: inherit;
	border: 0;
	padding: 0;
	margin: 0;
}

code pre {
	/* When <pre> is in a <code>, reset it's formatting to blend in */
	display: inline;
	background: inherit;
	font-size: inherit;
	color: inherit;
	border: 0;
	padding: 0;
	margin: 0;
}

details {
	/* Make the <details> look more "clickable" */
	padding: .6rem 1rem;
	background: $nc-bg-2;
	border: 2px solid $nc-bg-3;
	border-radius: 4px;
}

summary {
	/* Makes the <summary> look more like a "clickable" link with the pointer cursor */
	cursor: pointer;
	font-weight: bold;
}

details[open] {
	/* Adjust the <details> padding while open */
	padding-bottom: .75rem;
}

details[open] summary {
	/* Adjust the <details> padding while open */
	margin-bottom: 6px;
}

details[open]>*:last-child {
	/* Resets the bottom margin of the last element in the <details> while <details> is opened. This prevents double margins/paddings. */
	margin-bottom: 0;
}

dt {
	font-weight: bold;
}

dd::before {
	/* Add an arrow to data table definitions */
	content: '→ ';
}

hr {
	/* Reset the border of the <hr> separator, then set a better line */
	border: 0;
	border-bottom: 2px solid $nc-bg-3;
	margin: 1rem auto;
}

fieldset {
	margin-top: 1rem;
	padding: 2rem;
	border: 2px solid $nc-bg-3;
	border-radius: 4px;
}

legend {
	padding: auto .5rem;
}

table {
	/* border-collapse sets the table's elements to share borders, rather than floating as separate "boxes". */
	border-collapse: collapse;
	width: 100%
}

td,
th {
	border: 2px solid $nc-bg-3;
	text-align: left;
	padding: .5rem;
}

th {
	background: $nc-bg-2;
}

tr:nth-child(even) {
	/* Set every other cell slightly darker. Improves readability. */
	background: $nc-bg-2;
}

table caption {
	font-weight: bold;
	margin-bottom: .5rem;
}

textarea {
	/* Don't let the <textarea> extend off the screen naturally or when dragged by the user */
	max-width: 100%;
}

ol,
ul {
	/* Replace the browser default padding */
	padding-left: 2rem;
}

li {
	margin-top: .4rem;
}

ul ul,
ol ul,
ul ol,
ol ol {
	margin-bottom: 0;
}

mark {
	padding: 3px 6px;
	background: $nc-ac-1;
	color: $nc-ac-tx;
}

textarea,
select,
input {
	padding: 6px 12px;
	margin-bottom: .5rem;
	background: $nc-bg-2;
	color: $nc-tx-2;
	border: 2px solid $nc-bg-3;
	border-radius: 4px;
	box-shadow: none;
	box-sizing: border-box;
}

img {
	max-width: 100%;
}

// Simple grid
.c {
	width: 100%;
	height: 100%;
	@include flexbox();
	@include flex-direction(row);
	@include flex-wrap(wrap);
	@include justify-content(flex-start);
	@include align-items(stretch);

	@media screen and (max-width: 499px) {
		@include flex-direction(column);
	}
	
	.c1 {
		width: 8.33%;
	}
	.c2 {
		width: 16.67%;
	}
	.c3 {
		width: 25%;
	}
	.c4 {
		width: 33.33%;
	}
	.c5 {
		width: 41.67%;
	}
	.c6 {
		width: 50%;
	}
	.c7 {
		width: 58.33%;
	}
	.c8 {
		width: 66.67%;
	}
	.c9 {
		width: 75%;
	}
	.c10 {
		width: 83.33%;
	}
	.c11 {
		width: 91.67%;
	}
	.c12 {
		width: 100%;
	}
}

.headshot-holder {
	@include flexbox();
	@include justify-content(center);
	@include align-items(center);
}