* {
  background-color: #fff !important;
  color: #222;
  font-size: 11pt !important;
  font-family: Helvetica, sans-serif !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
section,
p,
li,
blockquote,
figure,
img {
  page-break-inside: avoid !important;
}

@page {
  margin: 0.5in;
}
figure {
  margin: 1rem 0;
}
figure img {
  display: block;
  max-height: 35vh;
  max-width: 90vw;
  outline: none;
  width: auto;
  height: auto;
  margin: 0 auto;
  padding: 0;
}

figcaption {
  text-align: left;
  margin: 0 auto;
  padding: 0.6rem;
  font-size: 0.9rem;
}

code,
pre {
  max-width: 96%;
  border: none;
  color: #222;
  word-break: break-all;
  word-wrap: break-word;
  white-space: pre-wrap;
  overflow: initial;
  page-break-inside: enabled;
  font-family: "Courier", "Courier New", monospace !important;
}

pre {
  border: 1pt dotted #666;
  padding: 0.6em;
}

/* code within pre - this is to avoid double borders */
pre code {
  border: none;
}

a:link:after,
a:visited:after {
  content: " (" attr(href) ") ";
  font-size: 90%;
}

html.noted a:link:after,
html.noted a:visited:after {
  content: "";
}

.konami-image {
  display: none !important;
}

.rotate-image {
  animation: none !important;
}

/*# sourceMappingURL=print.css.map */
