/* MIT License
 *
 * Copyright (c) 2020 Example (https://github.com/3x)
 * Copyright (c) 2021 Arne Govaerts (https://github.com/argovaerts)
 * 
 * Permission is hereby granted, free of charge, to any person obtaining a copy
 * of this software and associated documentation files (the "Software"), to deal
 * in the Software without restriction, including without limitation the rights
 * to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
 * copies of the Software, and to permit persons to whom the Software is
 * furnished to do so, subject to the following conditions:
 * 
 * The above copyright notice and this permission notice shall be included in all
 * copies or substantial portions of the Software.
 * 
 * THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
 * IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
 * FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
 * AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
 * LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
 * OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
 * SOFTWARE.
 */

$nc-font-sans: Consolas, monaco, 'Ubuntu Mono', 'Liberation Mono', 'Courier New', Courier, monospace;
$nc-font-mono: Consolas, monaco, 'Ubuntu Mono', 'Liberation Mono', 'Courier New', Courier, monospace;

$nc-tx-1: #FFFFFF;
$nc-tx-2: #EEEEEE;
$nc-bg-1: #000000;
$nc-bg-2: #002700;
$nc-bg-3: #005800;
$nc-lk-1: #00FF00;
$nc-lk-2: #00c200;
$nc-lk-tx: #000000;
$nc-ac-1: #00FF00;
$nc-ac-tx: #000000;

@import "./newcss.scss";

.konami-image {
	margin: 1rem;
	&.konami-right {
		float: right;
	}
	&.konami-left {
		float: left;
	}
}

@keyframes rotation {
	from {
	  transform: rotate(0deg);
	}
	to {
	  transform: rotate(359deg);
	}
  }

.rotate-image {
	animation: rotation 2s linear infinite;
}